#click-player {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $gutter-small-double-extra;

        .click-design {
            margin: $gutter-small $gutter-regular;
        }

        #btn {
            background-color: rgba(128, 0, 128, 0.3);
            width: 80px;
            padding: $gutter-small-extra;
            border-radius: 35px;
            border: rgb(128, 0, 128) 1px solid;
        }

        #btn:hover {
            background-color: rgb(128, 0, 128);
            border: solid 1px rgb(63, 0, 63);
            color: white;
        }

    #result {

        #card {
            margin-top: $gutter-small;
            border: solid 1px black;
            height: 100px;
            width: 100px;
        }
    }
}

#game-space {
    border: green solid 2px;

    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;

    width: auto;
    height: 250px;
    padding: $gutter-small-extra;
    margin: $gutter-small-double-extra 0;

    #net {
        border: brown solid 2px;
        border-radius: 130px;
        position: relative;
        width: 200px;
        height: 200px;
    }
}


@media (min-width: $min-width-tablet){
    #click-player {
        flex-direction: row;

        padding: $gutter-regular;
    }
}