//* Code for span elements
.bold {
    font-weight: bold;
}

//* Code for the DIV GLOBAL >>> Div Sarting + Div Game-space
#global {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//* Code for the DIV STARTING >>> Div click-player + Div Rules
#starting {
    display: flex;
    flex-direction: row;

    #click-player {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $gutter-small-double-extra;

            .click-design {
                margin: $gutter-small $gutter-regular;
            }

        #result {

            #resultCard {
                margin-top: $gutter-small;
                border: solid 1px black;
                height: 100px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                .result-card-poufff {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

    #rules {
        display: flex;
        flex-direction: column;

        width: 350px;

        h2 {
            font-size: $fontsize-regular*1.2;
            padding: $gutter-small-extra;
        }

        ul {
            text-align: left;
            padding: 0 0 0 $gutter-small-double-extra;            
        }

        .each-rule {
            line-height: 1.15em;
            letter-spacing: 1px;
        }

    }
}

//* Code for the DIV GAME-SPACE >>> Div Net
//* Code for the Boat and Animals are in specific files in Components Dir 
#game-space {
    border: green solid 2px;

    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;

    width: 450px;
    height: 250px;
    padding: $gutter-small-extra;
    margin: $gutter-small-double-extra 0;

    #net {
        border: brown solid 2px;
        border-radius: 130px;
        position: relative;
        width: 200px;
        height: 200px;
    }

    .blood-net {
        background-color: #F75455;
    }
}


@media (min-width: $min-width-tablet){
    #click-player {
        flex-direction: row;

        padding: $gutter-regular;
    }
}