//* This code is for all ANIMALS
.animal {
    position: absolute;
}
//* ==========================================================


//* This code is for all fishes
.fish-mini {
    width: 18px;
    height: 15px;
}

//* This code is for each fish
.fish--0 {
    top: 110px;
    left: 5px;
}

.fish--1 {
    top: 40px;
    left: 80px;
}

.fish--2 {
    top: 165px;
    left: 140px;
}

.fish--3 {
    top: 30px;
    left: 148px;
}

.fish--4 {
    top: 125px;
    left: 75px;
}

.fish--5 {
    top: 110px;
    left: 140px;
}

.fish--6 {
    top: 10px;
    left: 57px;
}

.fish--7 {
    top: 73px;
    left: 177px;
}
//* ==========================================================


//* This code is for all octopuses
.octopus-mini {
    width: 50px;
    height: 50px;
}

//* This code is for each octopus
.octopus--0 {
    top: 25px;
    left: 20px;
}

.octopus--1 {
    top: 85px;
    left: 85px;
}
//* ==========================================================


//* This code is for all sharks
.shark-mini {
    width: 45px;
    height: 35px;
}

//* This code is for each shark
.shark--0 {
    top: 130px;
    left: 130px;
}

.shark--1 {
    top: 8px;
    left: 95px;
}

.shark--2 {
    top: 75px;
    left: 5px;
}
//* ==========================================================


//* This code is for all dolphins
.dolphin-mini {
    width: 45px;
    height: 45px;
}

//* This code is for each dolphin
.dolphin--0 {
    top: 107px;
    left: 30px;
}

.dolphin--1 {
    top: 55px;
    left: 130px;
}

.dolphin--2 {
    top: 145px;
    left: 80px;
}
//* ==========================================================


//* This code is for all turtles
.turtle-mini {
    width: 35px;
    height: 35px;
}

//* This code is for each turtle
.turtle--0 {
    top: 70px;
    left: 55px;
}

.turtle--1 {
    top: 40px;
    left: 100px;
}

.turtle--2 {
    top: 95px;
    left: 160px;
}

.turtle--3 {
    top: 145px;
    left: 40px;
}
//* ==========================================================