//* This code is for all ANIMALS
.animal {
    position: absolute;
    width: 15px;
    height: 15px;
}
//* ==========================================================


//* This code is for all fishes
.fish {
    border: blue solid 1px;
}

//* This code is for each fish
.fish--0 {
    top: 120px;
    left: 20px;
}

.fish--1 {
    top: 60px;
    left: 80px;
}

.fish--2 {
    top: 180px;
    left: 100px;
}

.fish--3 {
    top: 30px;
    left: 155px;
}

.fish--4 {
    top: 130px;
    left: 100px;
}

.fish--5 {
    top: 155px;
    left: 150px;
}

.fish--6 {
    top: 15px;
    left: 60px;
}

.fish--7 {
    top: 70px;
    left: 175px;
}
//* ==========================================================


//* This code is for all octopuses
.octopus {
    border: red solid 1px;
}

//* This code is for each octopus
.octopus--0 {
    top: 30px;
    left: 30px;
}

.octopus--1 {
    top: 150px;
    left: 90px;
}
//* ==========================================================


//* This code is for all sharks
.shark {
    border: green solid 1px;
}

//* This code is for each shark
.shark--0 {
    top: 135px;
    left: 130px;
}

.shark--1 {
    top: 10px;
    left: 110px;
}

.shark--2 {
    top: 65px;
    left: 10px;
}
//* ==========================================================


//* This code is for all dolphins
.dolphin {
    border: purple solid 1px;
}

//* This code is for each dolphin
.dolphin--0 {
    top: 95px;
    left: 65px;
}

.dolphin--1 {
    top: 95px;
    left: 150px;
}

.dolphin--2 {
    top: 155px;
    left: 35px;
}
//* ==========================================================


//* This code is for all turtles
.turtle {
    border: orange solid 1px;
}

//* This code is for each turtle
.turtle--0 {
    top: 85px;
    left: 35px;
}

.turtle--1 {
    top: 40px;
    left: 125px;
}

.turtle--2 {
    top: 90px;
    left: 100px;
}

.turtle--3 {
    top: 130px;
    left: 60px;
}
//* ==========================================================