/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  border: blue solid 2px;
  width: auto;
  min-width: 450px;
  text-align: center;
  margin: 1em 0.5em;
  padding: 1em 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
body h2 {
  color: green;
  font-size: 1em;
}

@font-face {
  font-family: "RubikDirt";
  src: url("../../assets/fonts/Rubik_Dirt/RubikDirt-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/Raleway/static/Raleway-Light.ttf");
}
#title h1 {
  color: blue;
  font-size: 2em;
  margin: 0.5em;
}
#title h2 {
  font-size: 1.5em;
  margin: 0.25em;
  padding: 0.5em;
}
#title p {
  color: red;
  margin: 1em 0.5em;
}

.bold {
  font-weight: bold;
}

#global {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#starting {
  display: flex;
  flex-direction: row;
}
#starting #click-player {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.25em;
}
#starting #click-player .click-design {
  margin: 1em 2em;
}
#starting #click-player #result #resultCard {
  margin-top: 1em;
  border: solid 1px black;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#starting #rules {
  display: flex;
  flex-direction: column;
  width: 350px;
}
#starting #rules h2 {
  font-size: 1.2em;
  padding: 0.5em;
}
#starting #rules ul {
  text-align: left;
  padding: 0 0 0 0.25em;
}
#starting #rules .each-rule {
  line-height: 1.15em;
  letter-spacing: 1px;
}

#game-space {
  border: green solid 2px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  width: 450px;
  height: 250px;
  padding: 0.5em;
  margin: 0.25em 0;
}
#game-space #net {
  border: brown solid 2px;
  border-radius: 130px;
  position: relative;
  width: 200px;
  height: 200px;
}
#game-space .blood-net {
  background-color: #F75455;
}

@media (min-width: 720px) {
  #click-player {
    flex-direction: row;
    padding: 2em;
  }
}
.animal {
  position: absolute;
  width: 15px;
  height: 15px;
}

.fish {
  border: blue solid 1px;
}

.fish--0 {
  top: 120px;
  left: 20px;
}

.fish--1 {
  top: 60px;
  left: 80px;
}

.fish--2 {
  top: 180px;
  left: 100px;
}

.fish--3 {
  top: 30px;
  left: 155px;
}

.fish--4 {
  top: 130px;
  left: 100px;
}

.fish--5 {
  top: 155px;
  left: 150px;
}

.fish--6 {
  top: 15px;
  left: 60px;
}

.fish--7 {
  top: 70px;
  left: 175px;
}

.octopus {
  border: red solid 1px;
}

.octopus--0 {
  top: 30px;
  left: 30px;
}

.octopus--1 {
  top: 150px;
  left: 90px;
}

.shark {
  border: green solid 1px;
}

.shark--0 {
  top: 135px;
  left: 130px;
}

.shark--1 {
  top: 10px;
  left: 110px;
}

.shark--2 {
  top: 65px;
  left: 10px;
}

.dolphin {
  border: purple solid 1px;
}

.dolphin--0 {
  top: 95px;
  left: 65px;
}

.dolphin--1 {
  top: 95px;
  left: 150px;
}

.dolphin--2 {
  top: 155px;
  left: 35px;
}

.turtle {
  border: orange solid 1px;
}

.turtle--0 {
  top: 85px;
  left: 35px;
}

.turtle--1 {
  top: 40px;
  left: 125px;
}

.turtle--2 {
  top: 90px;
  left: 100px;
}

.turtle--3 {
  top: 130px;
  left: 60px;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.btn {
  background-color: rgba(128, 0, 128, 0.3);
  width: 80px;
  padding: 0.5em;
  border-radius: 35px;
  border: rgb(128, 0, 128) 1px solid;
}

.btn:hover {
  background-color: rgb(128, 0, 128);
  border: solid 1px rgb(63, 0, 63);
  color: white;
  cursor: pointer;
}

.btn.desactivated {
  background-color: #a3a3a3;
}

.btn.desactivated:hover {
  background-color: #a3a3a3;
  color: black;
}

.replay {
  cursor: pointer;
}

.boat {
  border: blue solid 1px;
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boat--0 {
  top: 10px;
  right: 5px;
}

.boat--1 {
  top: 90px;
  right: 10px;
}

.boat--2 {
  top: 170px;
  right: 30px;
}

.boat--3 {
  top: 180px;
  right: 100px;
}

.boat--4 {
  top: 190px;
  right: 170px;
}

.boat--5 {
  top: 200px;
  right: 240px;
}

.focused {
  border: dashed 2px blue;
  background-color: #f0f;
}

.end-div {
  width: 440px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.end-div .victory, .end-div .failed {
  color: orange;
  margin: 1em;
  line-height: 1.4em;
}

.no-more-animals {
  text-align: center;
}

.popup-open {
  width: 430px;
  height: 230px;
  position: absolute;
  left: 3.5%;
  top: 6%;
}
.popup-open p {
  color: red;
}
.popup-open .popup-in-popup-ocean {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.popup-open .popup-animal {
  border: blue solid 1px;
  margin: 0.5em;
  width: 80px;
  height: 80px;
}
.popup-open .popup-animal:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
