body{
    border: blue solid 2px;
    
    width: auto;
    min-width: 340px;
    text-align: center;
    margin: $gutter-small $gutter-small-extra;
    padding: $gutter-small $gutter-small-extra;

    font-family: $font-main;
    font-size: $fontsize-regular;

    h2 {
        color: green;
        font-size: $fontsize-regular;
    }
}

