@font-face {
    font-family: "RubikDirt";
    src: url("../../assets/fonts/Rubik_Dirt/RubikDirt-Regular.ttf");
}

@font-face {
    font-family: 'Raleway';
    src: url("../../assets/fonts/Raleway/static/Raleway-Light.ttf");
}